#pane {
    -fx-background-color: white;
}
#textTitle {
    -fx-font-size: 40px;
    -fx-font-family: "OpenSans";
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}
.text-field {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-font-family: "OpenSans";
    -fx-font-size: 13;
}
#gridPane {
    -fx-border-width: 7;
    -fx-border-radius: 5;
    -fx-border-color: #EE9923;
    -fx-background-radius: 5;
    -fx-background-color: #fdffe0;
}

.button {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-family: "OpenSans";
    -fx-text-alignment: center;
    -fx-background-color: #f7a338;
    -fx-background-size: 100%;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:pressed {
    -fx-background-color: #9f6d1d;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #9f6d1d;
    -fx-border-color: transparent;
}
